<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.soccerhub.mapper.ClubMapper">
    <select id="selectOverview" resultType="com.soccerhub.entity.ClubOverview">
        SELECT * FROM V_CLUB_OVERVIEW WHERE CLUB_ID = #{clubId}
    </select>
</mapper>
